body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.navbar a button{
  background:none;
  border: none;
  position: absolute;
  top : 50px;
  left : 5.2%;
  z-index:10;
}
.navbar a button:hover{
  cursor:pointer;
}
.navbar a button:before{
  content: "\eac4";
  font-family: 'xeicon';
  font-size: 40px;
}
.navbar{
}
.navbar ul{
  position: absolute;
  margin: 0;
  padding : 0;
  top : 50px;
  right :5.2%;
  width: 100%;
}
.navbar ul li{
  position: relative;
  list-style: none;
  float: right;
  margin-left: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 23px;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
}

.navbar ul li:hover{
  font-weight: 500;
  cursor: pointer;
}
.head_img{
  position: absolute;
  top: 150px;
  left : 5.2%;
  width: 350px;
  height: 715px;
  background:;
  overflow: hidden;
}
.img img{
  width: 100%;
}

.title{
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #303030;
  top: 170px;
  left : 6.2%;
  line-height: 40px;
}
.title2{
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #303030;
  top: 760px;
  left : 390px;
  line-height: 40px;
}
/*첫줄*/
.sub_img{
  position: absolute;
  left :720px;
  margin-top :150px;
  z-index: 0;
  display: flex;
  overflow: hidden;
  margin-left: 400px;
}
.sub_img div{
  width: 300px;
  height: 340px;
}
.sub_2 , .sub_3{
  position: relative;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}
.sub_img div img{
  width: 100%;
}
.sub_img a,.sub_img2 a{
  text-decoration: none;
  color: white;
}

.sub_2_1{
  position: absolute;
  top:150%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba( 100,100,100, 0.7 );
  max-height: 70px;
  transition:all. 10s;
}
.sub_2:hover .sub_2_1{
  top:80%;
}

.sub_3_1{
  position: absolute;
  top:150%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba( 100,100,100, 0.7 );
  max-height: 70px;
  transition:all. 10s;
}
.sub_3:hover .sub_3_1{
  top:80%;
}

/*둘줄*/

.sub_img2{
  position: absolute;
  margin-top :525px;
  display: flex;
  left :720px;
  overflow: hidden;
  margin-left: 100px;
}
.sub_img2 div{
  width: 300px;
  height: 340px;
}
.sub_5 , .sub_6{
  margin-left: 50px;
}
.sub_5 , .sub_6 , .sub_4 {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}
.sub_img2 div img{
  width: 100%;
}

.sub_4_1 , .sub_5_1 , .sub_6_1{
  position: absolute;
  top:150%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba( 100,100,100, 0.7 );
  max-height: 70px;
  transition:all. 10s;
}
.sub_4:hover .sub_4_1{
  top:80%;
}
.sub_5:hover .sub_5_1{
  top:80%;
}
.sub_6:hover .sub_6_1{
  top:80%;
}



@media ( max-width : 400px ) {
  body{
    position: absolute;
    overflow: scroll;
    max-width: 100%;
    max-height: auto;
    width: auto;
    display: block;
  }
  .navbar {
    position: relative;
    margin: 0;
    padding: 0;
    top:0;
  }
  .navbar a button{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .navbar a button:before{
    font-size: 20px;
  }
  .navbar ul{
    position: relative;
    margin-left: 0px;
    left:225px;
    top:20px;
  }
  .navbar ul li{
    margin-left: 20px;
    right: 0px;
    font-size: 15px;
  }


  .head_img{
    width: 340px;
    position: absolute;
    top: 70px;
    left:30px;
    height : 600px;
  }
  .title{
    position: absolute;
    top: 80px;
    left: 40px;
    font-size: 25px;
    line-height: 30px;
    color: white;
  }
  .title2{
    position: absolute;
    top: 600px;
    left: 340px;
    font-size: 25px;
    line-height: 30px;
    color: white;
  }


  .sub_img, .sub_img2{
   display: block;
   position: absolute;
   top: auto;
  }
  .sub_img{
    position: absolute;
    top: 550px;
    left: -395px;
    overflow: hidden;
    display: flex;
  }
  .sub_img div{
    width: 150px;
    overflow: hidden;
    margin-left:30px;
    font-size: 15px;
  }
  .sub_2_1 , .sub_3_1{
    max-height: 50px;
  }
  .sub_2:hover .sub_2_1{
    top: 120px;
    margin-left: 0;
  }
  .sub_3:hover .sub_3_1{
    top: 120px;
    margin-left: 0;
  }

  .sub_img2{
    margin-left: 0;
    margin-top: 0;
    max-width: 300px;
    position: absolute;
    top: 900px;
    left: 52.5px;
    padding-bottom: 140px;
  }

  .sub_4{
    margin: 0;
    max-width: 300px;
    overflow: hidden;
  }
  .sub_5{
    top:30px;
    left: 0px;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
  }
  .sub_6{
    margin-bottom: 150px;
    top: 70px;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
  }
  .sub_6:hover .sub6_1{
    margin-top:-70px;
  }
  .sub_6 div{
    padding: 0;
    margin: 0;
}

}
